<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Leoworx</title>
  
  {% block stylesheets %}
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  
  
  <link href="{{ asset('bundles/app/css/animations.css') }}" rel="stylesheet">
  <link href="{{ asset('bundles/app/css/normalize.css') }}" rel="stylesheet">
  <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ asset('bundles/app/css/royalslider.css') }}" rel="stylesheet" type="text/css">
  
  {% endblock %}

  <!-- include HTML5 IE enabling script and stylesheet for IE -->
  <!--[if lte IE 9]>
      <link href="css/animations-ie-fix.css" rel="stylesheet">
  <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
  <script src="js/ie.js"></script>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->

</head>

<body class="home">
  <!-- wrapper -->
  <div id="wrapper" class="win-min-height">
    <header id="header" class="header block background01">
      <div class="container header_block">
        <div class="row">
            <div class="social-icon" style="font-size: 15px;color: #777;font-weight: bold;">
                Translate
            </div>
          {#<div class="social-icon">
            <ul>
              <li><a class="color02 color01-hover03" href="#"><i class="fa fa-facebook">&nbsp;</i></a>
              </li>
              <li><a class="color02 color01-hover03" href="#"><i class="fa fa-twitter">&nbsp;</i></a>
              </li>
              <li><a class="color02 color01-hover03" href="#"><i class="fa fa-google-plus">&nbsp;</i></a>
              </li>
            </ul>
          </div>#}
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">
                  <img class="img-responsive" src="{{ asset('bundles/app/img/logo.gif') }}" alt="" style="margin-top: -30px">
                </a>
                <div class="menu-btn">
                  <button type="button" class="navbar-toggle collapsed color02" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <strong> <span class="sr-only">Toggle navigation</span> <span class="icon-bar background02"></span> <span class="icon-bar background02"></span> <span class="icon-bar background02"></span> </strong> <strong> MENU</strong>
                  </button>
                </div>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav color02">
                  <li class="active"><a href="#wrapper">Home</a></li>
                  <li> <a href="#services">Services</a></li>                  
                  <li> <a href="#work">work</a></li>
                  <li> <a href="#counter">Features</a></li>
                  <li> <a href="#team">team</a></li>
                  <li> <a href="#contact">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <section id="slider" class="block background01">
      <div class="row">
        <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
          <div class="slides" data-group="slides">
            <ul>
              <li>
                <div class="slide-body" data-group="slide">
                  <img src="{{ asset('bundles/app/img/slide01.jpg') }}" alt="Slide01">
                  <div class="slide_textholder">
                    <div class="container holderinner">
                      <div class="caption subheader" data-animate="slideAppearDownToUp" data-delay="500" data-length="300">
                        <h1 class="color01">Welcome to Leoworx!</h1>
                      </div>
                      <div class="caption learnmore" data-animate="slideAppearUpToDown" data-delay="500"><a class="btn more color01 color01-hover" href="#">Learn more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="slide-body" data-group="slide">
                  <img src="{{ asset('bundles/app/img/slide02.jpg') }}" alt="Slide02">
                  <div class="slide_textholder">
                    <div class="container holderinner">
                      <div class="caption subheader" data-animate="slideAppearDownToUp" data-delay="500" data-length="300">
                        <h1 class="color01">Our Experience</h1>
                      </div>
                      <div class="caption learnmore" data-animate="slideAppearUpToDown" data-delay="500"><a class="btn more color01 color01-hover" href="#">Learn more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="slide-body" data-group="slide">
                  <img src="{{ asset('bundles/app/img/slide03.jpg') }}" alt="Slide03">
                  <div class="slide_textholder">
                    <div class="container holderinner">
                      <div class="caption subheader" data-animate="slideAppearDownToUp" data-delay="500" data-length="300">
                        <h1 class="color01">Our Products</h1>
                      </div>
                      <div class="caption learnmore" data-animate="slideAppearUpToDown" data-delay="500"><a class="btn more color01 color01-hover" href="#">Learn more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="pagerholder"> <a class="page slidenumber" href="#" data-jump-to="1">1</a> <a class="page slidenumber" href="#" data-jump-to="2">2</a> <a class="page slidenumber" href="#" data-jump-to="3">3</a>
          </div>
        </div>
      </div>
    </section>
    <section id="services" class="block background01 animatedParent animateOnce">
      <div class="row">
        <div class="services">
          <div class="animated fadeIn slow">
            <h2>services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel
              <br>odio vel felis placerat pharetra ut vitae felis.</p>
          </div>
        </div>
        <div role="tabpanel" class="animated fadeIn slow">
          <ul class="nav nav-tabs tabhead" role="tablist">
            <li class="active"><a href="#tab1" aria-controls="tab09a" role="tab" data-toggle="tab">Key services</a>
            </li>
            <li role="presentation"><a href="#tab2" aria-controls="tab09b" role="tab" data-toggle="tab">process</a>
            </li>
            <li role="presentation"><a href="#tab3" aria-controls="tab09c" role="tab" data-toggle="tab">skills</a>
            </li>
          </ul>
          <div class="tab-content background09">
            <div role="tabpanel" id="tab1" class="boxes active tab-pane">
              <div class="container">
                <div class="holder">
                  <div class="col color01 col-sm-6 m-item">
                    <div class="box-holder background01">
                      <div class="icone_box color01 col-sm-5 col-xs-4">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/services01.jpg') }}" alt="Project">
                      </div>
                      <div class="col-sm-7 col-xs-8 text_box color02">
                        <h3>Test - Design</h3>
                        <div class="text-holder">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio vel felis.</p> <a class="btn more background05 color01 color01-hover" href="#"><i class="fa fa-arrow-right">&nbsp;</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col color01 col-sm-6 m-item">
                    <div class="box-holder background01">
                      <div class="icone_box color01 col-sm-5 col-xs-4">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/services02.jpg') }}" alt="Project">
                      </div>
                      <div class="col-sm-7 col-xs-8 text_box color02">
                        <h3>Clean Markup</h3>
                        <div class="text-holder">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio vel felis.</p> <a class="btn more background06 color01 color01-hover" href="#"><i class="fa fa-arrow-right">&nbsp;</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col color01 col-sm-6 m-item">
                    <div class="box-holder background01">
                      <div class="icone_box color01 col-sm-5 col-xs-4">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/services03.jpg') }}" alt="Project">
                      </div>
                      <div class="col-sm-7 col-xs-8 text_box color02">
                        <h3>World Wide Presence</h3>
                        <div class="text-holder">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio vel felis.</p> <a class="btn more background11 color01 color01-hover01" href="#"><i class="fa fa-arrow-right">&nbsp;</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col color01 col-sm-6 m-item">
                    <div class="box-holder background01">
                      <div class="icone_box color01 col-sm-5 col-xs-4">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/services04.jpg') }}" alt="Project">
                      </div>
                      <div class="col-sm-7 col-xs-8 text_box color02">
                        <h3>Extensive support</h3>
                        <div class="text-holder">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio vel felis.</p> <a class="btn more background08 color01 color01-hover" href="#"><i class="fa fa-arrow-right">&nbsp;</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="holder detail"> <span class="color02">View our services in detail</span> <a class="btn background07 more color01 color01-hover01" href="#">LEARN MORE</a>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="boxes tab-pane" id="tab2">
              <div class="container">
                <div class="holder">
                  <div class="col color01 col-sm-6 m-item">
                    <div class="box-holder background01">
                      <div class="icone_box color01 col-sm-5 col-xs-4">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/services02.jpg') }}" alt="Project">
                      </div>
                      <div class="col-sm-7 col-xs-8 text_box color02">
                        <h3>Love Flat Design</h3>
                        <div class="text-holder">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio vel felis.</p> <a class="btn more background06 color01 color01-hover" href="#"><i class="fa fa-arrow-right">&nbsp;</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col color01 col-sm-6 m-item">
                    <div class="box-holder background01">
                      <div class="icone_box color01 col-sm-5 col-xs-4">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/services03.jpg') }}" alt="Project">
                      </div>
                      <div class="col-sm-7 col-xs-8 text_box color02">
                        <h3>Test - Design</h3>
                        <div class="text-holder">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio vel felis.</p> <a class="btn more background11 color01 color01-hover01" href="#"><i class="fa fa-arrow-right">&nbsp;</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col color01 col-sm-6 m-item">
                    <div class="box-holder background01">
                      <div class="icone_box color01 col-sm-5 col-xs-4">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/services01.jpg') }}" alt="Project">
                      </div>
                      <div class="col-sm-7 col-xs-8 text_box color02">
                        <h3>Extensive support</h3>
                        <div class="text-holder">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio vel felis.</p> <a class="btn more background05 color01 color01-hover" href="#"><i class="fa fa-arrow-right">&nbsp;</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col color01 col-sm-6 m-item">
                    <div class="box-holder background01">
                      <div class="icone_box color01 col-sm-5 col-xs-4">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/services04.jpg') }}" alt="Project">
                      </div>
                      <div class="col-sm-7 col-xs-8 text_box color02">
                        <h3>World Wide Presence</h3>
                        <div class="text-holder">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio vel felis.</p> <a class="btn more background08 color01 color01-hover" href="#"><i class="fa fa-arrow-right">&nbsp;</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="holder detail"> <span class="color02">View our services in detail</span> <a class="btn background07 more color01 color01-hover01" href="#">LEARN MORE</a>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="boxes tab-pane" id="tab3">
              <div class="container">
                <div class="holder">
                  <div class="col color01 col-sm-6 m-item">
                    <div class="box-holder background01">
                      <div class="icone_box color01 col-sm-5 col-xs-4">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/services03.jpg') }}" alt="Project">
                      </div>
                      <div class="col-sm-7 col-xs-8 text_box color02">
                        <h3>Love Flat Design</h3>
                        <div class="text-holder">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio vel felis.</p> <a class="btn more background11 color01 color01-hover01" href="#"><i class="fa fa-arrow-right">&nbsp;</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col color01 col-sm-6 m-item">
                    <div class="box-holder background01">
                      <div class="icone_box color01 col-sm-5 col-xs-4">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/services04.jpg') }}" alt="Project">
                      </div>
                      <div class="col-sm-7 col-xs-8 text_box color02">
                        <h3>Extensive support</h3>
                        <div class="text-holder">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio vel felis.</p> <a class="btn more background08 color01 color01-hover" href="#"><i class="fa fa-arrow-right">&nbsp;</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col color01 col-sm-6 m-item">
                    <div class="box-holder background01">
                      <div class="icone_box color01 col-sm-5 col-xs-4">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/services01.jpg') }}" alt="Project">
                      </div>
                      <div class="col-sm-7 col-xs-8 text_box color02">
                        <h3>Test - Design</h3>
                        <div class="text-holder">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio vel felis.</p> <a class="btn more background05 color01 color01-hover" href="#"><i class="fa fa-arrow-right">&nbsp;</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col color01 col-sm-6 m-item">
                    <div class="box-holder background01">
                      <div class="icone_box color01 col-sm-5 col-xs-4">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/services02.jpg') }}" alt="Project">
                      </div>
                      <div class="col-sm-7 col-xs-8 text_box color02">
                        <h3>Love Flat Design</h3>
                        <div class="text-holder">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio vel felis.</p> <a class="btn more background06 color01 color01-hover" href="#"><i class="fa fa-arrow-right">&nbsp;</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="holder detail"> <span class="color02">View our services in detail</span> <a class="btn background07 more color01 color01-hover01" href="#">LEARN MORE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="work" class="block background01 animatedParent animateOnce">
      <div class="container">
        <div class="row">
          <div class="projects">
            <h2 class="animated fadeIn slow">what we have done</h2>
            <div id="Carousel06d" class="carousel slide">
              <div class="portfolio">
                <div id="ourprojects" class="carousel-inner">
                  <div class="holder animated fadeIn slow">
                    <div class="img-box col-md-4 col-sm-4 col-xs-12">
                      <a href="#">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/project1.jpg') }}" alt="Project">
                      </a>
                    </div>
                    <div class="img-box col-md-4 col-sm-4 col-xs-12">
                      <a href="#">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/project2.jpg') }}" alt="Project">
                      </a>
                    </div>
                    <div class="img-box col-md-4 col-sm-4 col-xs-12">
                      <a href="#">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/project3.jpg') }}" alt="Project">
                      </a>
                    </div>
                    <div class="img-box col-md-4 col-sm-4 col-xs-12">
                      <a href="#">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/project4.jpg') }}" alt="Project">
                      </a>
                    </div>
                    <div class="img-box col-md-4 col-sm-4 col-xs-12">
                      <a href="#">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/project5.jpg') }}" alt="Project">
                      </a>
                    </div>
                    <div class="img-box col-md-4 col-sm-4 col-xs-12">
                      <a href="#">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/project6.jpg') }}" alt="Project">
                      </a>
                    </div>
                    <div class="img-box col-md-4 col-sm-4 col-xs-12">
                      <a href="#">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/project7.jpg') }}" alt="Project">
                      </a>
                    </div>
                    <div class="img-box col-md-4 col-sm-4 col-xs-12">
                      <a href="#">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/project8.jpg') }}" alt="Project">
                      </a>
                    </div>
                    <div class="img-box col-md-4 col-sm-4 col-xs-12">
                      <a href="#">
                        <img class="img-responsive" src="{{ asset('bundles/app/img/project9.jpg') }}" alt="Project">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="holder detail animated fadeIn slow"> <span>Seems Interesting?</span> <a class="btn more background07 color01 color01-hover01 border-color02" href="#">LEARN MORE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="counter" class="block background09 animatedParent animateOnce">
      <div class="container">
        <div class="row">
          <div class="feature animated fadeIn slow">
            <h2>FEATURES</h2>
          </div>
          <div class="boxes animated fadeIn slow">
            <div class="col col-sm-3 col-xs-12">
              <div class="icone_box counter">34</div>
              <h3>Creative AWARDS</h3>
              <div class="text-holder color04">
                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
              </div>
            </div>
            <div class="col col-sm-3 col-xs-12">
              <div class="icone_box counter">108</div>
              <h3>Employees</h3>
              <div class="text-holder color04">
                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
              </div>
            </div>
            <div class="col col-sm-3 col-xs-12">
              <div class="icone_box counter">89</div>
              <h3>Worldwide Clients</h3>
              <div class="text-holder color04">
                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
              </div>
            </div>
            <div class="col col-sm-3 col-xs-12">
              <div class="icone_box counter">12</div>
              <h3>Surprising Parties</h3>
              <div class="text-holder color04">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio vel felis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="team" class="block background01 animatedParent animateOnce">
      <div class="container">
        <div class="row">
          <div class="team">
            <h2 class="animated fadeIn slow">The Creative</h2>
            <div class="holder animated fadeIn slow">
              <div class="col col-md-3 col-sm-3 col-xs-12">
                <div class="img_hoilder">
                  <a href="javascript:void(0)">
                    <img class="img-responsive" src="{{ asset('bundles/app/img/creative09.jpg') }}" alt="Article">
                  </a>
                </div>
                <div class="text_holder">
                  <h3><a class="color02 color01-hover03" href="javascript:void(0)">Person 1</a></h3> <span class="color04">Creative Head</span>
                  <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p> 
                  {#<a class="btn more color02 color01-hover border-color06" href="#"><i class="fa fa-facebook">&nbsp;</i></a> <a class="btn more color02 color01-hover border-color06" href="#"><i class="fa fa-twitter">&nbsp;</i></a>#}
{#                  <a class="btn more color02 color01-hover border-color06" href="#"><i class="fa fa-google-plus">&nbsp;</i>
                                    </a>#}
                </div>
              </div>
              <div class="col col-md-3 col-sm-3 col-xs-12">
                <div class="img_hoilder">
                  <a href="javascript:void(0)">
                    <img class="img-responsive" src="{{ asset('bundles/app/img/creative10.jpg') }}" alt="Article">
                  </a>
                </div>
                <div class="text_holder">
                  <h3><a class="color02 color01-hover03" href="javascript:void(0)">Person 2</a></h3> <span class="color04">Art Director</span>
                  <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p> 
                  {#<a class="btn more color02 color01-hover border-color06" href="#"><i class="fa fa-facebook">&nbsp;</i></a> <a class="btn more color02 color01-hover border-color06" href="#"><i class="fa fa-twitter">&nbsp;</i></a>#}
{#                  <a class="btn more color02 color01-hover border-color06" href="#"><i class="fa fa-google-plus">&nbsp;</i>
                                    </a>#}
                </div>
              </div>
              <div class="col col-md-3 col-sm-3 col-xs-12">
                <div class="img_hoilder">
                  <a href="javascript:void(0)">
                    <img class="img-responsive" src="{{ asset('bundles/app/img/creative11.jpg') }}" alt="Article">
                  </a>
                </div>
                <div class="text_holder">
                  <h3><a class="color02 color01-hover03" href="javascript:void(0)">Person 3</a></h3> <span class="color04">Senior Designer</span>
                  <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p> 
                  {#<a class="btn more color02 color01-hover border-color06" href="#"><i class="fa fa-facebook">&nbsp;</i></a> <a class="btn more color02 color01-hover border-color06" href="#"><i class="fa fa-twitter">&nbsp;</i></a>#}
{#                  <a class="btn more color02 color01-hover border-color06" href="#"><i class="fa fa-google-plus">&nbsp;</i>
                                    </a>#}
                </div>
              </div>
              <div class="col col-md-3 col-sm-3 col-xs-12">
                <div class="img_hoilder">
                  <a href="javascript:void(0)">
                    <img class="img-responsive" src="{{ asset('bundles/app/img/creative12.jpg') }}" alt="Article">
                  </a>
                </div>
                <div class="text_holder">
                  <h3><a class="color02 color01-hover03" href="javascript:void(0)">Person 4</a></h3> <span class="color04">Marketing Manager</span>
                  <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p> 
                  {#<a class="btn more color02 color01-hover border-color06" href="#"><i class="fa fa-facebook">&nbsp;</i></a> <a class="btn more color02 color01-hover border-color06" href="#"><i class="fa fa-twitter">&nbsp;</i></a>#}
{#                  <a class="btn more color02 color01-hover border-color06" href="#"><i class="fa fa-google-plus">&nbsp;</i>
                                    </a>#}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="contact" class="block animatedParent animateOnce background02">
      <div class="mail-section">
        <div class="quickemail animated fadeIn slow">
          <div class="container">
            <div class="row">
              <div class="mail_content">
                <h2 class="color08">quick email</h2>
                <p class=" color04">Consecteture adipsching elit.</p>
                <div class="form col-md-8 col-xs-11">
                  <form class="form-inline">
                    <div class="fullwidth">
                      <div class="left-feild col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control color01 background13 border-color08" id="exampleInputName2" placeholder="Name">
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control color01 background13 border-color08" id="exampleInputEmail2" placeholder="Email">
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control color01 background13 border-color08" id="exampleInputName2" placeholder="how we can help?">
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control color01 background13 border-color08" id="exampleInputName2" placeholder="budget">
                        </div>
                      </div>
                      <div class="right-feild col-md-6">
                        <div class="form-group fullwidth">
                          <textarea class="form-control color01 background13 border-color08" rows="3" placeholder="type your message here"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="submitbutton fullwidth">
                      <button type="submit" class="btn more background07 color01 color01-hover01">request a quote</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer" class="footer block background01 animatedParent animateOnce">
      <div class="container">
        <div class="row">
          <div class="footerinner animated fadeIn slow">
            <div class="logo_bottom">
              <a href="#">
                <img class="img-responsive" src="{{ asset('bundles/app/img/logo.gif') }}" alt="" style="margin-top: -25px;">
              </a>
            </div> <span class="color02 col-xs-12 col-sm-6 col-md-6">LeoWorx under development!</span>
            <div class="social-icon">
              <ul>
                <li><a class="color02" href="#"><i class="fa fa-facebook">&nbsp;</i></a>
                </li>
                <li><a class="color02" href="#"><i class="fa fa-linkedin">&nbsp;</i></a>
                </li>
                <li><a class="color02" href="#"><i class="fa fa-twitter">&nbsp;</i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Go To Top Link -->
    <a style="display: block;" href="#" class="back-to-top">
      <i class="fa fa-angle-up"></i>
    </a>

  </div>
  
  {% block javascripts %}
    <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <script src="{{ asset('bundles/app/js/responsive-slider.js') }}"></script>
  <script src="{{ asset('bundles/app/js/countUp.js') }}"></script>
  <script src="{{ asset('bundles/app/js/touch-slide.js') }}"></script>
  <script src="{{ asset('bundles/app/js/jquery.nav.js') }}"></script>
  <script src="{{ asset('bundles/app/js/classie.js') }}"></script>
  <script src="{{ asset('bundles/app/js/jquery.custom-scrollbar.js') }}"></script>
  <script src="{{ asset('bundles/app/js/royalslider-min.js') }}"></script>
  <script src="{{ asset('bundles/app/js/custom.js') }}"></script>
  <script type="text/javascript">
    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
      var msViewportStyle = document.createElement('style')
      msViewportStyle.appendChild(
        document.createTextNode(
          '@-ms-viewport{width:auto!important}'
        )
      )
      document.querySelector('head').appendChild(msViewportStyle)
    }
  </script>
  
  {% endblock %}
  
</body>

</html>